@font-face {
    font-family: 'Neue Haas Display';
    font-style: normal;
    font-weight: 100;
    src: url(../font/NeueHaasDisplay-Thin.woff) format('woff');
}
@font-face {
    font-family: 'Neue Haas Display';
    font-style: normal;
    font-weight: 300;
    src: url(../font/NeueHaasDisplay-Light.woff) format('woff');
}
@font-face {
    font-family: 'Neue Haas Display';
    font-style: normal;
    font-weight: 500;
    src: url(../font/NeueHaasDisplay-Mediu.woff) format('woff');
}
@font-face { 
    font-family: 'SF Pro Text'; 
    src: url(../font/sf-pro-text_regular.woff2) format("woff2"); 
    font-weight: 400; 
}
@font-face { 
    font-family: 'SF Pro Text'; 
    src: url(../font/sf-pro-text_medium.woff2) format("woff2"); 
    font-weight: 500; 
}
@font-face { 
    font-family: 'SF Pro Text'; 
    src: url(../font/sf-pro-text_semibold.woff2) format("woff2"); 
    font-weight: 600; 
}
// @font-face { 
//     font-family: 'SF Pro KR'; 
//     src: url(../font/SFProKRDisplay_light.woff2) format("woff2"); 
//     font-weight: 300; 
// }
@font-face { 
    font-family: 'SF Pro KR'; 
    src: url(../font/SFProKRDisplay_regular.woff2) format("woff2"); 
    font-weight: 400; 
}
@font-face { 
    font-family: 'SF Pro KR'; 
    src: url(../font/SFProKRDisplay_medium.woff2) format("woff2"); 
    font-weight: 500; 
}
@font-face { 
    font-family: 'SF Pro KR'; 
    src: url(../font/SFProKRDisplay_semibold.woff2) format("woff2"); 
    font-weight: 600; 
}
// @font-face { 
//     font-family: 'SF Pro KR'; 
//     src: url(../font/SFProKRDisplay_bold.woff2) format("woff2"); 
//     font-weight: 700; 
// }
@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight:400;
	src: url(../fonts/sf-pro-display_regular.woff2) format("woff2");
}
@font-face {
	font-family:'SF Pro Display';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/sf-pro-display_semibold.woff2) format("woff2");
}
// @font-face {
// 	font-family:'SF Pro Icons';
// 	font-style: normal;
// 	font-weight: 300;
// 	src:url(../fonts/sf-pro-icons_light.woff2) format("woff2");
// }
// @font-face {
// 	font-family:'SF Pro Icons';
// 	font-style: normal;
// 	font-weight: 400;
// 	src: url(../fonts/sf-pro-icons_regular.woff2) format("woff2");
// }